*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter, system-ui, sans-serif; 
}

body {
  padding: 32px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.text__purple {
  color: #6415ff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__Ttreact {
  margin-right: 24px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__treact {
  font-size: 24px;
  font-weight: 700;
}

.logo__t {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.logo__anchor {
  margin-left: 0;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style-type: none;
}

a {
  margin: 0 24px;
  text-decoration: none;
  padding-bottom: 4px;
  color: #243e63;
  font-size: 14px;
  font-weight: 600;
}

.logo {
  display: flex;
}

.primary {
  background: #6415ff;
  color: #f7fafc;
  padding: 12px 32px;
  border-radius: 50px;
}

.landing__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__left--column {
  width: 40%;
}

.landing__right--column {
  width: 60%;
}

.landing__right--img {
  width: 100%;
}

.landing__container {
  padding: 6rem;
}

.landing__h1 {
  font-size: 48px;
  color: #1a202c;
}

.landing__para {
  color: #243e63;
  font-size: 18px;
  margin: 32px 0;
}

input {
  background: #fff;
  padding: 20px 192px 20px 32px;
  border-radius: 50px;
}

.landing__para--mini {
  color: #a0aec0;
  font-size: 12px;
  font-weight: bold;
}

.landing__para--img {
  margin-top: 80px;
}

.landing__customers--logo {
  width: 100%;
  margin-top: 16px;
  padding-right: 128px;
  opacity: 0.5;
}