* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

/* GENERIC */

.container {
  padding: 80px 32px;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.text__purple {
  color: #6415ff;
}

.color__white {
  color: #fff;
}

.h5 {
  font-size: 16px;
  letter-spacing: 1px;
  color: #6415ff;
  text-transform: uppercase;
  width: 576px;
}

.h2 {
  color: #243e63;
  font-size: 48px;
  margin-top: 16px;
}

button {
  cursor: pointer;
}

/* NAVIGATION */

.logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.treact {
  color: #243e63;
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 4px;
  text-decoration: none;
}

.logo__container:hover .treact {
  color: #6415ff;
}

.logo__img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.nav__anchor {
  text-decoration: none;
  color: #243e63;
  font-size: 14px;
  font-weight: 600;
  margin: 0 24px;
  padding-bottom: 4px;
}

a {
  position: relative;
}

.hover__effect:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #243e63;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.hover__effect:hover:after {
  width: 100%;
  left: 0;
}

.primary:hover {
  color: #f7fafc;
  background-color: rgba(80, 17, 204);
}

.primary {
  color: #fff;
  background-color: #6415ff;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 32px;
  border-radius: 50px;
  text-decoration: none;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

/* BURGER MENU */

.btn__menu {
  font-size: 40px ;
  background-color: #6415ff;
  border: none;
  text-align: center;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #6415ff;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__list {
  padding: 18px 0;
}

.menu__link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
}

/* LANDING */

.landing__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.left__landing--column {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}

.left__landing--customers--logo {
  width: 100%;
}

.right__landing--column {
  width: 60%;
}

.right__landing--column--img {
  width: 100%;
  margin: 0 auto;
}

h1 {
  color: #1a202c;
  font-size: 48px;
}

.landing__para {
  color: #243e63;
  font-size: 18px;
  margin: 32px 0;
}

.landing__input--wrapper {
  max-width: 448px;
  position: relative;
  box-sizing: border-box;
  display: block;
  line-height: 24px;
}

.landing__input {
  width: 100%;
  padding: 20px 192px 20px 32px;
  border-radius: 50px;
  font-weight: 500;
  opacity: .8;
}

.landing__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  width: 160px;
  padding: 16px 0;
  margin: 8px 8px 8px 0;
  color: #f7fafc;
  background-color: #6415ff;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

.landing__customers--img--wrapper {
}

.landing__customers--img--description {
  margin-top: 80px;
  color: #a0aec0;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.left__landing--customers--logo {
  margin-top: 16px;
  padding-right: 128px;
  opacity: 0.5;
}

/* FEATURES */

.feature__h5 {
  margin-bottom: 16px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  opacity: 0.8;
  text-align: center;
}

.feature__h2 {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.feature__para--container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.feature__para {
  width: 100%;
  max-width: 576px;
  text-align: center;
  font-size: 18px;
  color: #7c8ba1;
  font-weight: 500;
}

.space__between {
  padding: 24px;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.service {
  width: calc(100% / 4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 8px;
  margin: 0 16px;
}

.service__img--wrapper {
  padding: 20px;
  border: 1px solid #a0aec0;
  border-radius: 50px;
}

.service__text--container {
  margin: 8px 0 0 16px;
}

.service__title {
  color: #243e63;
  font-size: 24px;
  font-weight: 700;
  margin-top: 16px;
}

.service__description {
  color: #7c8ba1;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  margin-top: 16px;
}

/* QUALITY */

.quality__row {
  display: flex;
}

.left__quality--column {
  width: 50%;
}

.right__quality--column {
  width: 50%;
}

.quality__img {
  width: 100%;
  border: 1px solid #a0aec05f;
  border-radius: 5px;
  box-shadow: 0 8px 16px 1px rgba(0, 0, 0, 0.5);
}

.quality__h5 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  opacity: 0.8;
}

.quality__h2 {
  color: #243e63;
  font-size: 48px;
  margin-top: 16px;
  width: 576px;
}

.quality__para {
  color: #7c8ba1;
  font-size: 18px;
  font-weight: 500;
  margin-top: 16px;
  width: 576px;
}

.quality__btn {
  color: #f7fafc;
  font-size: 14px;
  font-weight: 700;
  margin-top: 32px;
  background-color: #6415ff;
  border: none;
  padding: 12px 32px;
  border-radius: 50px;
}

/* STEPS */

.steps__row {
  display: flex;
}

.steps__right--column--img--wrapper {
  width: 50%;
}

.steps__left--column--wrapper {
  width: 50%;
  margin-left: 64px;
}

.steps__img {
  width: 100%;
  padding-top: 100px;
}

.steps__h5 {
  font-size: 16px;
  letter-spacing: 1px;
  color: #6415ff;
  text-transform: uppercase;
}

.steps__h2 {
  color: #243e63;
  font-size: 48px;
  margin-top: 16px;
}

.steps__list--items {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
}

.steps__list--item {
  display: flex;
  margin-top: 32px;
}

.steps__descrption {
  margin-left: 24px;
}

.list__para {
  margin-top: 12px;
  width: 320px;
  color: #718096;
  font-size: 14px;
  font-weight: 500;
}

.list__title {
  color: #243e63;
  font-size: 20px;
  font-weight: 600;
}

.list__number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600px;
}

/* VALUE */

.value__row {
  display: flex;
}

.value__left--column {
  width: 50%;
  padding: 32px 0;
}

.value__right--column {
  width: 50%;
}

.value__img--svg {
  width: 100%;
  padding-top: 100px;
}

.value__h5 {
  color: #6415ff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.value__h2 {
  color: #243e63;
  font-size: 48px;
  width: 576px;
  margin-top: 16px;
}

.value__para {
  color: #7c8ba1;
  font-size: 18px;
  font-weight: 500;
  margin-top: 32px;
  width: 576px;
}

.value__two--column {
  display: flex;
}

.value__two--column--left--side {
  margin: 32px 32px 0 0;
}

.value__two--column--left--side--top {
  display: flex;
  width: 152.141px;
}

.title {
  margin-left: 12px;
  font-size: 20px;
  font-weight: 700;
  color: #243e63;
}

.value__two--column--left--side--bottom {
  margin-top: 16px;
  width: 262.375px;
  color: #718096;
  font-size: 16px;
  line-height: 26px;
}

.dollar__sign {
  background-color: #9ae6b4;
  padding: 8px;
  border-radius: 50px;
}

.d {
  width: 20px;
  text-align: center;
  color: #1a202c;
}

.right {
  background-color: #feb2b2;
}

.value__btn {
  margin-top: 48px;
  color: #f7fafc;
  padding: 12px 32px;
  background-color: #6415ff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 50px;
}

/* PRICING */

.price__top--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.price__h5 {
  color: #6415ff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 16px;
  text-align: center;
}

.price__h2 {
  color: #243e63;
  font-size: 48px;
  text-align: center;
}

.price__para {
  color: #7c8ba1;
  font-size: 18px;
  font-weight: 500;
  margin-top: 16px;
  width: 576px;
}

.plans__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan__personal {
  width: calc(100% / 3);
  margin: 64px 32px 0 0;
  padding: 8px 32px 0 32px;
  display: flex;
  flex-direction: column;
  border-top: 8px solid rgb(56, 178, 172) !important;
  border: 1px solid #cbd5e0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}

.plan__business {
  width: calc(100% / 3);
  margin: 64px 32px 0 0;
  padding: 8px 32px 0 32px;
  display: flex;
  flex-direction: column;
  border: 1px solid #cbd5e0;
  border-radius: 10px;
  background-color: rgb(76, 81, 191);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
}

.plan__enterprise {
  width: calc(100% / 3);
  margin: 64px 32px 0 0;
  padding: 8px 32px 0 32px;
  display: flex;
  flex-direction: column;
  border-top: 8px solid rgb(245, 101, 101) !important;
  border: 1px solid #cbd5e0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}

.price__top {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
}

.price__middle {
  display: flex;
  flex-direction: column;
  margin: 0 -32px;
  padding: 32px;
  border-top: 1px solid #cbd5e0;
  border-bottom: 1px solid #cbd5e0;
}

.name {
  color: #1a202c;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.white__name {
  color: #f7fafc;
}


.price {
  color: #1a202c;
  font-size: 48px;
  font-weight: 700;
  margin-top: 4px 0;
  text-align: center;
}

.white__price {
  color: #f7fafc;
}

.duration {
  color: #a0aec0;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 1.6px;
  text-align: center;
}

.white__duration {
  color: #f7fafc;
}

.main__feature {
  color: #1a202c;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 30px;
  text-align: center;
}

.white__main--feature {
  color: #f7fafc;
}

.feature {
  color: #718096;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-top: 20px;
}

.white__feature {
  color: #f7fafc;
}

.price__bottom--btn {
  padding: 32px 64px;
  text-align: center;
}

.bottom__btn {
  color: #f7fafc;
  font-size: 16px;
  padding: 16px 32px;
  border: none;
  border-radius: 50px;
  font-weight: 500;
  transition: all 300ms ease;
}

.bottom__btn:hover {
  transform: translateY(1px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
}

.personal__btn {
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.enterprice__btn {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.business__btn {
  background-color: #fff;
  color: #6415ff;
  font-weight: 500;
  transition: opacity 300ms ease;
}

.business__btn:hover {
 opacity: 0.8;
}

/* TESTIMONIAL */

.testimonial__left--column--svg {
  width: 50%;
}

.testimonial__svg {
  width: 100%;
}

.testimonial__row {
  display: flex;
}

.testimonial__right--column {
  width: 50%;
  padding-left: 64px;
}

i {
  color: rgb(246, 173, 85);
}

.left__side--user--img {
  display: flex;
}

.testimonial__user--img-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 560px;
}

.testimonial__h5 {
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 1.6px;
  font-weight: 700;
  font-size: 16px;
  display: block;
}

.testimonial__h2 {
  color: #243e63;
  font-size: 48px;
  font-weight: 900;
  margin-top: 16px;
  width: 576px;
  display: block;
}

.testimonial__para {
  color: #7c8ba1;
  font-size: 18px;
  font-weight: 500;
  margin-top: 24px;
  width: 560px;
  display: block;
}

.testimonial__5stars {
  height: 24px;
  line-height: 24px;
  display: block;
  width: 576px;
  margin: 32px 0 16px 0;
}

.user__experience {
  color: #243e63;
  font-size: 20px;
  margin-top: 16px;
  font-weight: 700;
}

.quote {
  margin: 16px 0 40px 0;
  color: #4a5568;
  font-size: 16px;
  font-weight: 500;
  width: 560px;
}

.user__name {
  margin-left: 24px;
  padding-top: 24px;
}

.name {
  text-align: left;
}

.user__position {
  font-size: 16px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 24px;

}

.btn__arrows {
  margin: 0px 12px;
  padding: 16px;
  border-radius: 50px;
  border: none;
}

.btn__arrows:hover {
  background-color: #cbd5e0;
}

.i {
  color: #6415ff;
}

.l {
  color: #a0aec0;
}

.charlotte__user--wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  animation: animate-profile-picture 800ms 200ms;

}

.charlotte__user {
  width: 100%;
  transform: scale(3);
  padding: 20px 0 0 12px;
}

@keyframes animate-profile-picture {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* BEFORE FOOTER */

.before__footer--row {
  background-color: #6415ff;
  height: 282px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.before__footer--ctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  margin: 0 32px;
}

.before__footer--h5 {
  font-size: 30px;
  width: 480px;
  height: 90px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
}

.before__footer--btns {
  color: #f7fafc;
  font-size: 16px;
  padding: 20px 40px;
  border-radius: 50px;
  font-weight: 700;
}

.before__footer--btn--wrapper {
  width: 480px;
}

.btn__1 {
  margin-right: 32px;
  background-color: #f56565;
  border: none;
}

.btn__1:hover {
  background-color: rgb(214, 32, 32);
}

.btn__2 {
  background-color: #6415ff;
  border: 1px solid #a0aec0;
}

.btn__2:hover {
  background-color: #fff;
  color: #6415ff;
}

/* FOOTER */

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 216px;
  line-height: 24px;
  margin-top: -48px;
  width: 100%;
  max-width: 1280px;
  text-align: left;
  color: rgb(229, 231, 235);
}

.footer__link {
  width: calc(100% / 5);
  display: block;
  height: 168px;
  margin-top: 48px;
  max-width: 112.938px;
  line-height: 24px;
  text-align: left;
}

.footer__lists {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

li {
  list-style-type: none;
}

.footer__container {
  background-color: #6415ff;
}

.footer__anchor:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #fff;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.footer__anchor:hover:after {
  width: 100%;
  left: 0;
}

.footer__h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.footer__list {
  margin-top: 12px;
}

.footer__anchor {
  font-size: 14px;
  padding-bottom: 4px;
  font-weight: 500;
  line-height: 21px;
  color: #f7fafc;
  text-decoration: none;
}

.footer__divider {
  margin: 64px 0;
  color: rgb(247, 250, 252);
}

.footer__t {
  width: 32px;
  height: 32px;
  border: 1px solid #fff;
  display: block;
  background-color: #fff;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__h {
  margin-left: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 30px;
  width: 116.938px;
  display: block;
}

.footer__para {
  color: #cbd5e0;
  font-size: 16px;
  display: block;
  width: 298.109px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.social__link {
  width: 32px;
  color: #242424;
  background-color: #fff;
  border: 1px solid #cbd5e0;
  padding: 8px;
  margin-right: 16px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}

.social__link:hover {
  background-color: #cbd5e0;
}

/* RESPONSIVE */

/* LARGE SMARTPHONES, TABLETS */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container {
    padding: 80px 0;
  }

  h1 {
    text-align: center;
    font-size: 40px;
  }

  .landing__para {
    text-align: center;
  }

  .landing__btn {
    position: relative;
    width: 100%;
  }

  .landing__input {
    opacity: .6;
    margin-bottom: 20px;
  }

  .landing__customers--img--wrapper {
    text-align: center;
    margin-bottom: 64px;
  }

  .right__landing--column--img {
    width: 100%;
    transform: scale(1.5);
    padding-left: 50px;
  }

  .left__landing--customers--logo {
   padding: 0;
   transform: scale(1.5);
  }

  .landing__customers--img--description {
    margin-top: 24px;
  }

  .right__landing--column--img {
    width: 250px;
    text-align: center;
  }

  /* FEATURES */
  .feature__h5 {
    text-align: center;
    font-size: 12px;
  }

  .feature__h2 {
    text-align: center;
    font-size: 36px;
  }

  .feature__para {
    text-align: center;
    font-size: 12px;
    width: 519px;
  }

  .service {
    width: 50%;
  }

/* QUALITY */

.quality__row {
  flex-direction: column-reverse;
}

.left__quality--column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.quality__h5 {
  font-size: 12px;
  text-align: center;
  
}

.quality__h2 {
  font-size: 36px;
  text-align: center;
}

.quality__para {
  font-size: 12px;
  text-align: center;
  width: 448px;
}

.quality__img {
  transform: scale(1.3);
  margin-bottom: 24px;
}

/* BURGER MENU */
  .nav__lists {
    display: none;
  }

  .btn__menu {
    display: block;
  }
}

/*  SMALL PHONES */
@media (max-width: 550px) {
  .nav__lists {
    display: none;
  }

  .btn__menu {
    display: block;
  }

}     