* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#quality {
  margin: 200px 0 200px 0;
}

#services {
  margin: 200px 0 200px 0;
}

#landing {
  margin: 200px 0 200px 0;
}

#get__started {
    margin: 200px 0 200px 0;
  }

#steps {
    margin: 200px 0 200px 0;
  }
  

.text__purple {
  color: #6415ff;
}

li {
  list-style-type: none;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link {
  margin: 0 8px;
  padding: 0 16px 0 0;
  text-decoration: none;
}

.nav-link {
  color: black;
}

.nav__link--primary {
  padding: 6px 16px;
  border: 2px solid transparent;
  border-radius: 16px;
  background-color: #6415ff;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__T {
  border: 2px solid transparent;
  background-color: #6415ff;
  padding: 2px 16px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.logo__link {
  font-weight: bold;
  text-decoration: none;
  margin-left: 8px;
}

/* LANDING */

.landing__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 200px;
}

.landing__title {
  width: 40%;
  margin: 0 auto;
}

.landing__img--wrapper {
  width: 60%;
}

.landing__img {
  margin-left: 60px;
}

.landing__title {
  margin: 0 40px 0 0;
}

h1 {
  font-size: 40px;
}

.input__container {
  display: flex;
}

input {
  padding: 16px 20px;
  border-radius: 100px;
}

.customers__logo {
  width: 100px;
  opacity: 0.2;
}

.customer__logo--wrapper {
  display: flex;
}

.landing {
  margin-bottom: 40px;
}

.header__description--subtitle {
  opacity: 0.5;
  font-weight: 700;
}

.feature__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features {
  margin: 0 auto;
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature {
  margin-bottom: 24px;
}

.fontawesome {
  margin: 16px;
  border: 1px solid rgba(128, 128, 128, 0.418);
  padding: 12px;
  border-radius: 50%;
  color: #6415ff;
}

.services {
  display: flex;
  flex-wrap: wrap;
  padding: 36px 0;
  margin-bottom: 36px;
}

.service {
  display: flex;
  width: calc(100% / 3);
}

.service__description {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.screenshot {
  height: 250px;
  border: 1px solid grey;
  margin: 16px;
}

.quality__row {
  display: flex;
}

.quality {
  margin-bottom: 24px;
}

.quality__para {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.4;
}

.quality__btn {
  border: none;
  padding: 8px 24px;
  border-radius: 50px;
  color: #fff;
  background-color: #6415ff;
  font-size: 15px;
  font-weight: bold;
}

.quality__description {
  width: 50%;
}

.quality__img {
  width: 50%;
}

.get__started--img {
    width: 00px;
}







